@charset "utf-8";
/*去边框*/
*{
	margin: 0;
	padding: 0;
}
body{
	background: skyblue;
}
#box{
	width: 80%;
	height: 800px;
	margin: 0 auto;
	background: pink;
}
/*包含选择器*/
/*宽度默认父元素宽度*/
/*高度有内容决定*/
#box h2{
	background: yellow;
	text-align: center;
	padding: 25px 0;
}
#box h4{
	padding: 20px 0;
}
#box hr{
	margin: 10px 0;
}
#box #height_num,#box #weight_num{
	width: 200px;
	height: 25px;
}
#box input[type=submit],#box input[type=button]{
	/*display: block;转换为块元素*/
	display: block;
	margin: 0 auto;
	width: 300px;
	height: 40px;
	background: red;
	border: none;
}
#table1{
	width: 100%;
	/*height: auto;*/
	background: cornflowerblue;
	margin-top: 20px;
	
}
#table1 td{
	text-align: center;
	padding: 10px 0;
}
#table1 tr:nth-child(2){
	background: lightgreen;
}
#table1 tr:nth-child(3){
	background: forestgreen;
}

#table1 tr:nth-child(4){
	background: yellow;
}
#table1 tr:nth-child(5){
	background: red;
}
.result{
	background: blue;
	margin-top: 30px;
	overflow: hidden;
	padding: 20px 0;
}
.result p{
	float: left;
	width: 50%;
	text-align: center;
}
#table2{
	width: 100%;
	margin: 20px 0;
	
}
#table2 td{
	padding: 10px 0;
	text-align: center;
}
#table2 tr:nth-child(2n){
	background: peachpuff;
}
#table2 tr:nth-child(2n+1){
	background: palevioletred;
}
#table2 #tr1{
	background: none;
}
